.card {
  background-color: #f5f5f5;
  width           : 100vw;
  height          : 200px;
  text-align      : center;
}

.card-title {
  width     : 100vw;
  text-align: center;
}

.mat-mdc-card-header {
  display: inline-block;
  padding: 0 0 0 0;
}

hr {
  margin          : auto;
  text-align      : center;
  width           : 50vw;
  border          : 0;
  height          : 2px;
  margin-bottom   : 1em;
  background-image: linear-gradient(to right, transparent, #DCDCDC, transparent);
}

.mdc-card__actions {
  display       : inline-block;
  flex-direction: row;
  align-items   : center;
  box-sizing    : border-box;
  min-height    : 52px;
  padding       : 8px;
}

.btn-cv {
  margin          : 0 15px;
  background-color: #ff6969 !important;
  color           : #ffffff !important;
}

.presentation {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 2px rgb(222, 222, 222), 0 0 1em #eeeeee, 0 0 0.2em #DCDCDC;
  color      : rgb(7, 7, 7);
}

@media screen and (max-width: 963px) {

  .second {
    width: 80%;
  }

  .presentation {
    width: 100%;
  }

  hr {
    margin          : auto;
    text-align      : center;
    width           : 80vw;
    border          : 0;
    height          : 2px;
    margin-bottom   : 1em;
    background-image: linear-gradient(to right, transparent, #DCDCDC, transparent);
  }
}
