<mat-card class="card">
  <mat-card-header class="div-header">
    <mat-card-title class="card-title">My abstract</mat-card-title>
    <mat-card-subtitle><hr /></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span class="presentation">{{ textcv }} </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="btn-cv">
      <mat-icon>cloud_download</mat-icon> English
    </button>
    <button mat-raised-button class="btn-cv">
      <mat-icon>cloud_download</mat-icon> Portuguese
    </button>
  </mat-card-actions>
</mat-card>
