section {
  background-color: #030303b3;
  width           : 100vw;
  height          : auto;
  position        : relative;
  margin-bottom   : 20px;
  margin-top      : 20px;
  display         : flex;
  flex-direction  : row;
  place-items     : center;
}

.card-content {
  display        : flex;
  width          : 100vw;
  text-align     : center;
  justify-content: center;
}

hr {
  display         : block;
  margin          : 15px -2px 0 0;
  text-align      : left;
  width           : 50vw;
  border          : 0;
  height          : 2px;
  margin-bottom   : 1em;
  background-image: linear-gradient(to right, #DCDCDC, #DCDCDC, transparent);
}

.btn-d {
  margin: 1rem;
}

button {
  padding         : 17px 40px;
  border-radius   : 50px;
  border          : 0;
  background-color: white;
  box-shadow      : rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing  : 1.5px;
  text-transform  : uppercase;
  font-size       : 15px;
  transition      : all .5s ease;
  margin          : 0 15px;
}

button:hover {
  letter-spacing  : 3px;
  background-color: #ff6969;
  color           : #ffffff;
  box-shadow      : #ff6969 0px 0px 5px 0px;
}

button:active {
  letter-spacing  : 3px;
  background-color: #ff6969;
  color           : hsl(0, 0%, 100%);
  box-shadow      : #ff6969 0px 0px 0px 0px;
  transform       : translateY(10px);
  transition      : 100ms;
}


.presentation {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color      : #ffffff;
  font-size  : 2em;
}

@media screen and (max-width: 963px) {

  .second {
    width: 80%;
  }

  .presentation {
    width : 90%;
    margin: 1rem;
  }

  .btn-d {
    margin        : 1rem;
    display       : flex;
    flex-direction: column;
    gap           : 10px;
  }

}
