.header-img {
  background-image   : url("../../assets/img/home.jpg");
  background-repeat  : no-repeat;
  background-size    : 100%;
  background-size    : cover;
  background-position: top;
  height             : 70vw;
  width              : 100vw;
  opacity            : 0.9;
}

.flex-box {
  display        : flex;
  align-items    : center;
  justify-content: center;
  padding-top    : 10vw;
}

.t-img{
  width: 100vw;
}
