.header-img {
  background-image   : url("../../assets/img/home.jpg");
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: top;
  opacity            : 0.9;
}

.flex-box {
  display        : flex;
  align-items    : center;
  justify-content: center;
  padding-top    : 6vw;
}

.t-img {
  width     : 80vw;
  margin-top: 50px;
}
