section {
  width: 100vw;
}

.footer-title {
  background-color: #3e3c41;
  height          : 200px;
  width           : 100%;
  display         : flex;
  justify-content : center;
}

.t-img {
  width: 30em;
}


.footer-div {
  background-color: #363337;
  height          : 40px;
  width           : 100%;
}

.card-title {
  color      : #454360;
  font-size  : 36px;
  font-family: "Rubik", sans-serif;
  margin     : 1em 0 0 3em;
  position   : relative;
}
