<mat-card class="card">
  <mat-card-header class="div-header">
    <mat-card-title class="card-title">About me</mat-card-title>
    <mat-card-subtitle><hr /></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="first">
      <img src="../../assets/img/about.png" alt=""/>
    </div>

    <div class="second">
      <p class="presentation">
        Hi, my name is Ana Paula Lopes Araújo. I am a web / full stack
        developer. I have 13 years of experience in the field, always working
        with the best practices and consecrated frameworks.
      </p>
    </div>

  </mat-card-content>
</mat-card>
