.card-title {
  width     : 100vw;
  text-align: center;
}

.mat-mdc-card-header {
  display: inline-block;
  padding: 0 0 0 0;
  z-index: 999;
}

hr {
  margin          : auto;
  text-align      : center;
  width           : 50vw;
  border          : 0;
  height          : 2px;
  margin-bottom   : 1em;
  background-image: linear-gradient(to right, transparent, #DCDCDC, transparent);
  z-index: 999;
}

.card-content {
  display: inline-block;
}

.first {
  width       : 50%;
  display     : inline-block;
  text-align  : right;
  margin-right: 15px;

}

.img:hover {
  transform: scale(0.9);
}

.img {
  width        : 20em;
  height       : 20em;
  border-radius: 37px;
  box-shadow   : 34px 34px 67px #7d7d7d,
    -34px -34px 67px #ffffff;
  position  : relative;
  transition: all .3s;
}

.second {
  width         : 20%;
  display       : inline-block;
  vertical-align: top;
  text-align    : justify;
  margin        : 45px;
}

.presentation {
  width        : 100px;
  font-size    : large;
  font-family  : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height  : 25px;
  padding-right: 100px;
}

@media screen and (max-width: 963px) {

  .first {
    text-align: center;
    width     : 100%;
  }

  .second {
    width: 80%;
  }

  .presentation {
    width: 100%;
  }

  hr {
    margin          : auto;
    text-align      : center;
    width           : 80vw;
    border          : 0;
    height          : 2px;
    margin-bottom   : 1em;
    background-image: linear-gradient(to right, transparent, #DCDCDC, transparent);
    z-index: 999;
  }
}
