section {
  background-color: #f9f9ff;
  display         : inline-block;
}

.card-title {
  color      : #454360;
  font-size  : 36px;
  font-family: "Rubik", sans-serif;
  margin     : 1em 0 0 3em;
  position   : relative;
}

.card-title:before {
  content         : "";
  background-image: url(../../assets/img/dots-bg.svg);
  height          : 37px;
  left            : -21px;
  top             : -14px;
  position        : absolute;
  width           : 37px;
}

hr {
  display         : block;
  margin          : 15px -2px 0 0;
  text-align      : left;
  width           : 50vw;
  border          : 0;
  height          : 2px;
  margin-bottom   : 1em;
  background-image: linear-gradient(to right, #DCDCDC, #DCDCDC, transparent);
}

.card-content {
  display      : flex;
  place-content: center;
}


.first {
  width: 50%;
}

.card-first {
  padding   : 30px;
  color     : #f8f9fa !important;
  text-align: center !important;
}

.second {
  width: 50%;
}

.img:hover {
  transform: scale(0.9);
}

.card-second {
  width           : 50%;
  background-color: #fff;
  box-shadow      : 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  border-radius   : 20px !important;
  padding         : 30px;
  color           : #f8f9fa !important;
  text-align      : center !important;
  font-size       : 25px;
  margin-bottom   : 20px;
}

.img {
  height: 20em;
}

.presentation {
  color                 : #5e5c7f;
  font-family           : "Rubik", sans-serif;
  font-size             : 16px;
  line-height           : 1.7;
  overflow-x            : hidden;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 899px) {

  section {
    background-color: #f9f9ff;
    display         : flex;
    flex-direction  : column;
    width           : 100%;
  }

  .card-title {
    font-size  : 36px;
    font-family: "Rubik", sans-serif;
    margin     : 45px 0px -15px 80px;
    position   : relative;
    z-index    : 999;
  }

  hr {
    text-align      : left;
    width           : 80vw;
    border          : 0;
    height          : 2px;
    margin-bottom   : 1em;
    background-image: linear-gradient(to right, #DCDCDC, #DCDCDC, transparent);
  }

  .card-content {
    display       : flex;
    flex-direction: column;
    align-items   : center;
  }

  .first {
    width: 90%;
  }

  .second {
    width          : 90%;
    display        : flex;
    justify-content: space-around;
  }

  .card-second {
    background-color: #fff;
    box-shadow      : 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    border-radius   : 20px !important;
    padding         : 30px;
    color           : #f8f9fa !important;
    text-align      : center !important;
    font-size       : 25px;
    margin-bottom   : 20px;
    width           : 100%;
  }

}
