<ng-container>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="card-title">About me</mat-card-title>
      <mat-card-subtitle><hr /></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="card-content">
      <div class="first">
        <img src="../../assets/img/about.png" alt="" class="img" />
      </div>

      <div class="second">
        <span class="presentation"> {{ txtAbout }} </span>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
