<div class="body">
  <div class=" row titulo">
    <!-- <hr> -->
    Contact me
    <hr>
  </div>

  <!-- <form [formGroup]="form" (ngSubmit)="sendEMail()">
    <div fxLayoutAlign="center center" fxFlexFill>
      <div fxLayout="row" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="100">
        <div fxFlex="100" fxFlex.xs="50" class="col">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="form.get('name').hasError('required')">Name is <strong>required</strong></mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" id="email" [errorStateMatcher]="matcher"
              placeholder="Ex: email@domain.com">
            <mat-error *ngIf="form.get('email').hasError('email')">Please enter a valid email address</mat-error>
            <mat-error *ngIf="form.get('email').hasError('required')">Email is <strong>required</strong></mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="subject">
            <mat-error *ngIf="form.get('subject').hasError('required')">Subject is <strong>required</strong></mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.xs="50" class="col col-textarea">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Message</mat-label>
            <textarea matInput #message formControlName="message" maxlength="500" rows="12"
              placeholder="Ex: I request..."></textarea>
            <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
            <mat-error *ngIf="form.get('message').hasError('required')">Message is <strong>required</strong></mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="end center" fxFlexFill>
      <re-captcha #recaptcha (resolved)="resolved($event)" formControlName="recaptcha"
        siteKey="6LcSgcUZAAAAAGxwNlVsdA1gE6pjbogOqWtEaQOp" class="col"></re-captcha>
      <button mat-raised-button class="col btnSend" [disabled]="form.invalid">Send</button>
    </div>

  </form> -->
</div>
