.container {
  position: fixed;
  z-index : 999999999;
}

.btn-width {
  width : 30px;
  height: 19px;
}

.menu-fundo {
  background-color: #212121;
  color           : #fff;

}

.menu-spacer {
  flex: 1 1 auto;
}

.items-menu {
  text-align: right;
  width     : 100%;
}

.wait {
  color: #ffc048;
}

.wait-aling {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.wait-img {
  width       : 3em;
  margin-right: 1em;
  margin-left : 1em;
}
