<div class="body">
    <div class="titulo">
        <!-- <hr> -->
        Portfolio
        <hr>
    </div>

    <div class="b-portfolio" fxLayout="column-reverse" fxLayout.gt-sm="row wrap" fxLayoutAlign="space-evenly start">
        <div fxFlex="100" fxFlex.gt-sm="90" fxLayout="row wrap" fxLayoutAlign="center stretch" class="menu-central">

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container" fxLayoutAlign="center start">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>Federal Court of Accounts - TCU</mat-card-title>
                        <mat-card-subtitle>Stefanini Group</mat-card-subtitle>
                    </mat-card-header>  
                    <mat-divider></mat-divider>
                    <img mat-card-image src="../../assets/img/9.jpg"
                        alt="TCU">
                        <mat-divider></mat-divider>
                    <mat-card-actions >
                        <button mat-raised-button class="btn-details" (click)="openDialogTCU()">
                             Details
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container" fxLayoutAlign="center start">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>National Confederation of Industry</mat-card-title>
                        <mat-card-subtitle>Wipro Limited</mat-card-subtitle>
                    </mat-card-header> 
                    <mat-divider></mat-divider> 
                    <img mat-card-image src="../../assets/img/8.jpg"
                        alt="CNI">
                        <mat-divider></mat-divider>
                    <mat-card-actions >
                        <button mat-raised-button class="btn-details" (click)="openDialogCNI()">
                             Details
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container" fxLayoutAlign="center start">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>Congress - Chamber of Deputies</mat-card-title>
                        <mat-card-subtitle>Plansul Acessoria</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <img mat-card-image src="../../assets/img/1.jpg">
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-raised-button class="btn-details" (click)="openDialogCamara()">
                             Details
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container" fxLayoutAlign="center start">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>Bank of Brazil</mat-card-title>
                        <mat-card-subtitle>Stefanini Group</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <img mat-card-image src="../../assets/img/2.jpg">
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-raised-button class="btn-details" (click)="openDialogBB()">
                             Details
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container" fxLayoutAlign="center start">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>Police Federal of Brazil</mat-card-title>
                        <mat-card-subtitle>Stefanini Group</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <img mat-card-image src="../../assets/img/4.jpg">
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-raised-button class="btn-details" (click)="openDialogPF()">
                             Details
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container" fxLayoutAlign="center start">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>Sicoob</mat-card-title>
                        <mat-card-subtitle>Mirante Tecnologia</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <img mat-card-image src="../../assets/img/3.jpg">
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-raised-button class="btn-details" (click)="openDialogSicoob()">
                             Details
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <!-- <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container" fxLayoutAlign="center start">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>RFB</mat-card-title>
                        <mat-card-subtitle>Brazil's Federal Revenue</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                    <mat-card-actions>
                        <button mat-raised-button (click)="openDialogRFB()">
                             Details
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div> -->

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container" fxLayoutAlign="center start">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>Federal Economical Box</mat-card-title>
                        <mat-card-subtitle>Politec Tecnologia</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <img mat-card-image src="../../assets/img/6.jpg">
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-raised-button class="btn-details" (click)="openDialogCaixa()">
                             Details
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container" fxLayoutAlign="center start">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>STF - Supreme Federal Court</mat-card-title>
                        <mat-card-subtitle>Politec Tecnologia</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <img mat-card-image src="../../assets/img/7.jpg">
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-raised-button class="btn-details" (click)="openDialogSTF()">
                             Details
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div id="fact" >
    <div fxLayout="row" fxLayoutAlign="center end" >
    </div>
</div>