section {
  background-color: #f9f9ff;
  display         : inline-block;
  width           : 100vw;
}

.card-title {
  color      : #454360;
  font-size  : 36px;
  font-family: "Rubik", sans-serif;
  margin     : 1em 0 0 3em;
  position   : relative;
}

.card-title:before {
  content         : "";
  background-image: url(../../assets/img/dots-bg.svg);
  height          : 37px;
  left            : -21px;
  top             : -14px;
  position        : absolute;
  width           : 37px;
}

hr {
  display         : block;
  margin          : 15px -2px 0 0;
  text-align      : left;
  width           : 50vw;
  border          : 0;
  height          : 2px;
  margin-bottom   : 1em;
  background-image: linear-gradient(to right, #DCDCDC, #DCDCDC, transparent);
}

.filterDiv {
  margin : 15px;
  display: none;
}

.show {
  display: inline-block;
}

.container {
  width: 100%;
}

.content {
  max-width : 90%;
  display   : block;
  float     : none;
  text-align: center;
  margin    : auto;
}

ul {
  list-style   : outside none none;
  margin-bottom: 30px;
  padding      : 0;
  text-align   : center;
}

li {
  cursor            : pointer;
  display           : inline-block;
  padding           : 5px 10px;
  font-size         : 14px;
  font-weight       : 500;
  -webkit-transition: 0.4s;
  transition        : 0.4s;
}

li:hover {
  background-color: #f5abab;
}

li.active {
  background-color: #666;
  color           : #ffffff;
}

.filter {
  width     : 100%;
  text-align: center;
}

.card {
  max-width: 400px;
}

.header-image {
  background-image: url('../../assets/img/1.jpg');
  background-size : cover;
}

@media screen and (max-width: 963px) {

  .content {
    max-width : 90%;
    display   : inline-block;
    float     : none;
    text-align: center;
    margin    : auto;
  }

}
