<mat-card>
  <mat-card-header>
    <mat-card-title class="card-title">Experience</mat-card-title>
    <mat-card-subtitle><hr /></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="div-geral">
      <div class="div-card">
        <mat-icon class="t-icon">attach_money</mat-icon>
        <span class="t-title">Financial systems</span>
      </div>

      <div class="div-card">
        <mat-icon class="t-icon">group</mat-icon>
        <span class="t-title">Corporate systems</span>
      </div>

      <div class="div-card">
        <mat-icon class="t-icon">wifi</mat-icon>
        <span class="t-title">Web systems</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
