section {
  display      : inline-block;
  width        : 100vw;
  position     : relative;
  margin-bottom: 20px;
}

.card-title {
  font-size  : 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin     : 1em 0 0 3em;
  position   : relative;
  z-index    : 999;
}

.card-content {
  display       : inline-block;
  width         : 100vw;
  vertical-align: top;

}

.card-content:before {
  content         : "";
  background-image: url(../../assets/img/dots-bg.svg);
  display         : block;
  height          : 37px;
  left            : 6em;
  top             : 15px;
  position        : absolute;
  width           : 37px;
  z-index         : 99;
}

hr {
  display         : block;
  margin          : 15px -2px 0 0;
  text-align      : left;
  width           : 50vw;
  border          : 0;
  height          : 2px;
  margin-bottom   : 1em;
  background-image: linear-gradient(to right, #DCDCDC, #DCDCDC, transparent);
}

.first {
  width         : 33%;
  display       : inline-block;
  text-align    : center;
  margin-left   : 7px;
  vertical-align: top;
}

.second {
  width         : 33%;
  display       : inline-block;
  text-align    : left;
  vertical-align: top;
}

.thrid {
  width         : 33%;
  display       : inline-block;
  text-align    : left;
  vertical-align: top;
}

.card {
  width        : 190px;
  height       : 154px;
  border-radius: 20px;
  background   : #f5f5f5;
  padding      : 1.8rem;
  border       : 2px solid #c3c6ce;
  transition   : 0.5s ease-out;
  overflow     : visible;
  margin-left  : 33%;
}

.card-details {
  color     : black;
  height    : 100%;
  display   : inline-block;
  width     : 100%;
  text-align: center;
}

.card:hover {
  border-color: #ff6969;
  box-shadow  : 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.t-icon {
  color     : #ff6969;
  font-size : 7em;
  width     : 100%;
  height    : 60%;
  margin-top: 15px;
}

.t-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 25px;
  font-size  : 1.5em;
  font-weight: bold;
  color      : rgb(134, 134, 134);
}

.brand {
  background-color: #f5bbbb84; // #f5f5f5;
  width           : 100vw;
  height          : 130px;
  margin-top      : 20px;
  margin-bottom   : 20px;
}

.s-brand {
  display       : flex;
  flex-direction: row;
  padding-top   : 25px;
}

.img-brand {
  width       : 80px;
  height      : 80px;
  margin-right: 15px;
}

@media screen and (max-width: 899px) {
  .first {
    margin    : 20px 0 20px -15%;
    width     : 100%;
    text-align: center;
  }

  .second {
    margin    : 20px 0 20px -15%;
    width     : 100%;
    text-align: center;
  }

  .thrid {
    margin    : 20px 0 20px -15%;
    width     : 100%;
    text-align: center;
  }

  hr {
    text-align      : left;
    width           : 80vw;
    border          : 0;
    height          : 2px;
    margin-bottom   : 1em;
    background-image: linear-gradient(to right, #DCDCDC, #DCDCDC, transparent);
  }

  .card {
    width        : 190px;
    height       : 154px;
    border-radius: 20px;
    background   : #f5f5f5;
    padding      : 1.8rem;
    border       : 2px solid #c3c6ce;
    transition   : 0.5s ease-out;
    overflow     : visible;
  }

  .card-title {
    font-size  : 36px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin     : 45px 0px -15px 80px;
    position   : relative;
    z-index    : 999;
  }

  .card-content:before {
    content         : "";
    background-image: url(../../assets/img/dots-bg.svg);
    display         : block;
    height          : 37px;
    left            : 4em;
    top             : 24px;
    position        : absolute;
    width           : 37px;
    z-index         : 99;
  }

}
