<section>
  <div class="card-title">
    <span>My Skills</span>
    <hr />
  </div>

  <div class="card-content">
    <div class="first">
      <div class="card">
        <div class="card-details">
          <mat-icon class="t-icon">attach_money</mat-icon>
          <p class="t-title">Financial systems</p>
        </div>
      </div>
    </div>

    <div class="second">
      <div class="card">
        <div class="card-details">
          <mat-icon class="t-icon">group</mat-icon>
          <p class="t-title">Corporate systems</p>
        </div>
      </div>
    </div>

    <div class="thrid">
      <div class="card">
        <div class="card-details">
          <mat-icon class="t-icon">wifi</mat-icon>
          <p class="t-title">Web systems</p>
        </div>
      </div>
    </div>
  </div>

  <div class="brand">
    <div class="s-brand">
      <img src="../../assets/img/brands/angular.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/apache-maven.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/apache-solr.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/elasticsearch.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/github.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/html5-css3.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/java.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/jenkins.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/jira.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/mongodb.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/mysql.png" alt="" class="img-brand">
      <mat-divider [vertical]="true"></mat-divider>
      <img src="../../assets/img/brands/nodejs.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/npm.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/oracle.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/postgresql.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/scrum.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/sonarqube.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/spring-framework.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/sqlserver.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/swagger.png" alt="" class="img-brand">
      <img src="../../assets/img/brands/typescript.png" alt="" class="img-brand">
    </div>
  </div>
</section>
