<div class="body">
    <div class="titulo">
        <!-- <hr> -->
        Services
        <hr>
    </div>

    <div class="b-service" fxLayout="column-reverse" fxLayout.gt-sm="row wrap" fxLayoutAlign="space-evenly start">
        <div fxFlex="100" fxFlex.gt-sm="70" fxLayout="row wrap" class="menu-central">

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container">
                <mat-card class="mat-elevation-z8">
                    <div fxLayout="row" fxLayoutAlign="center start">
                        <mat-icon class="t-icon">attach_money</mat-icon>
                    </div>
                    <mat-card-header>
                        <mat-card-title class="t-title">Financial systems</mat-card-title>
                        <mat-card-subtitle class="t-title">
                            Instituitions like Banco do Brasil (Bank of Brazil),
                            Caixa Econômica Federal (Another Brazilian Bank)
                            and Sicoob.
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container">
                <mat-card class="mat-elevation-z8">
                    <div fxLayout="row" fxLayoutAlign="center start">
                        <mat-icon class="t-icon">group</mat-icon>
                    </div>
                    <mat-card-header>
                        <mat-card-title class="t-title">Corporate systems</mat-card-title>
                        <mat-card-subtitle class="t-title">
                            CNI - National Confederation of Industry,
                            Receira Federal Do Brasil (like IRS),
                            Federal Police and Câmara Dos Deputados
                            (The Brazilian Congress).
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.3" class="card-container">
                <mat-card class="mat-elevation-z8">
                    <div fxLayout="row" fxLayoutAlign="center start">
                        <mat-icon class="t-icon">wifi</mat-icon>
                    </div>
                    <mat-card-header>
                        <mat-card-title class="t-title">Web systems</mat-card-title>
                        <mat-card-subtitle class="t-title">
                            Incorporated into almost all projects.
                            The web systems according to W3C standards.
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
</div>