mat-tab-group {
    margin-bottom: 48px;
  }

.btn-details{
  width: 132px;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  background-color: #ff6969;
  color: #ffffff;
}

h1{
  text-align: center;
}

.text-content {
  text-indent: 50px;
  text-align: justify;
}

.text-project{
  text-align: justify;
}

.icon-dialog{
  font-size: 19px;
  color: #ff6969;
  text-align: center;
}